<html>
    <head>
        <title>Add Course</title>
        <center><h1>Add Course</h1></center>
    </head>
    <body>
        <form method="POST">
               <h3>Course Name</h3>
               <input name="c_name" placeholder="Enter Course Name">
               <h3>Hours</h3>
               <input name="h" placeholder="Enter Hours">
               <h3>Price</h3>
               <input name="p" placeholder="Enter Price">
               <br>
               <br>
               <input type="submit">
               {% csrf_token %}
        </form>
    </body>
</html>