<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Music School</title>
    {% load staticfiles %}
    <link rel='stylesheet' href= "{% static 'css/bootstrap.min.css' %}"
    type = 'text/css'/>
    <meta name="viewport" content = "width=device-width, initial-scale=1.0">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<style type="text/css">
		html,
		body {
		  height:100%
		}
	</style>
</head>
<body class="body" style="background-color:#f6f6f6">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href='/'>Music_school</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Add Data</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/addStudent">student</a>
            <a class="dropdown-item" href="/addTeacher">teacher</a>
            <a class="dropdown-item" href="/addCourse">course</a>
            <a class="dropdown-item" href="/addTeach">teach</a>
            <a class="dropdown-item" href="/addStudy">Study</a>
        </div></li>
    </ul></div>
</nav>
<form method="POST">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="student">&nbsp Student</label>
      <select class="custom-select mr-sm-2" id="student" name="student" placeholder="Aungticha Chomwiwat">
        <option selected>Choose...</option>
          {% for  i in student %}
        <option value={{i.Sname}}>{{i}}</option>
          {% endfor %}
      </select>
    </div>
    <div class="form-group col-md-2">
    <label for="course">&nbsp Course</label>
      <select class="custom-select mr-sm-2" id="course" name="course" placeholder="Guitar">
        <option selected>Choose...</option>
          {% for  i in course %}
        <option value={{i.Cname}}>{{i}}</option>
          {% endfor %}
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="Startday">&nbsp Start Day</label>
    <input type="text" class="form-control" id="Startday" name="startday" placeholder="yyyy-mm-dd">
  </div>
  <div class="form-group">
    <label for="Stopday">&nbsp Stop Day</label>
    <input type="text" class="form-control" id="Stopday" name="Stopday" placeholder="yyyy-mm-dd">
  </div>
  <div class="form-group">
    <label for="learnday">&nbsp Learn Day</label>
    <input type="text" class="form-control" id="learnday" name="Learnday" placeholder="Monday">
  </div>
  <div class="form-group">
    <label for="learnhour">&nbsp Learn Hour</label>
      <select class="custom-select mr-sm-2" id="learnhour" name="hour">
        <option selected>Choose...</option>
        <option value="8:00">8:00</option>
        <option value="10:00">10:00</option>
        <option value="13:00">13:00</option>
        <option value="15:00">15:00</option>
        <option value="17:00">17:00</option>
      </select>
  </div>
  <div class="form-group">
    <label for="level">&nbsp Level</label>
      <select class="custom-select mr-sm-2" id="level" name="level">
        <option selected>Choose...</option>
        <option value="easy">easy</option>
        <option value="medium">medium</option>
        <option value="hard">hard</option>
      </select>
  </div>
  <button type="submit" class="btn btn-primary">Enter</button>
    {% csrf_token %}
</form>
</body>
</html>
