<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Music School</title>
    {% load staticfiles %}
    <link rel='stylesheet' href= "{% static 'css/bootstrap.min.css' %}"
    type = 'text/css'/>
    <meta name="viewport" content = "width=device-width, initial-scale=1.0">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<style type="text/css">
		html,
		body {
		  height:100%
		}
	</style>
</head>

<body class="body" style="background-color:#f6f6f6">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href='/'>Music_school</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Student</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for student in students %}
            <a class="dropdown-item" href="/student/detail/{{student.id}}">{{student}}</a>
            {% endfor %}
        </div>
    </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Teacher</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for teacher in teachers %}
            <a class="dropdown-item" href="/teacher/detail/{{teacher.id}}">{{teacher}}</a>
            {% endfor %}
        </div>
    </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Add Data</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/addStudent">student</a>
            <a class="dropdown-item" href="/addTeacher">teacher</a>
            <a class="dropdown-item" href="/addCourse">course</a>
            <a class="dropdown-item" href="/addTeacher">teach</a>
            <a class="dropdown-item" href="/addStudy">Study</a>
        </div></li>
    </ul>
    </form>
  </div>
</nav>
<table class="table table-hover table-dark ">
    <thead>
     <tr>
      <th scope="col">Course</th>
      <th scope="col">Hours</th>
      <th scope="col">Price</th>
      <th scope="col"></th>
     </tr>
    </thead>
    <tbody>
    {% for post in courses %}
    <tr>
             <td>{{post.Cname}}</td>
             <td>{{post.Hours}}</td>
             <td>{{post.Price}}</td>
             <td><p></p></td>
    </tr>
<!--             <td><p>
                 <div> </div>
                 </p></td>
-->
    {% endfor %}
    </tbody>
    </table>
</body>
</html>
