<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <h1>{{var1}}</h1>
    Information Course
</head>
<body>
<input type="button" value="Student" name="Student" onclick="window.location.href='student/'">
<input type="button" value="Teacher" name="Teacher" onclick="window.location.href='teacher/'">
<input type="button" value="Course" name="Course" onclick="window.location.href='course/'">
</body>
</html>
