<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signin</title>
    {% load staticfiles %}
    <link rel='stylesheet' href= "{% static 'css/bootstrap.min.css' %}"
    type = 'text/css'/>
    <meta name="viewport" content = "width=device-width, initial-scale=1.0">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<style type="text/css">
		html,
		body {
		  height:100%
		}
	</style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href='/'>Music_school</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Student</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for student in students %}
            <a class="dropdown-item" href="/student/detail/{{student.id}}">{{student}}</a>
            {% endfor %}
        </div>
    </li><li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Teacher</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for teacher in teachers %}
            <a class="dropdown-item" href="/teacher/detail/{{teacher.id}}">{{teacher}}</a>
            {% endfor %}
        </div>
    </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
    <input button class="btn btn-outline-success my-2 my-sm-0" type="button" value="Sign in" onclick="window.location.href='signin';"/></input>
    </form>
  </div>
</nav>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
    <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-check">
    </div>
  <button type="submit" class="btn btn-primary">Log in</button>
</form></div></div>
</body>
</html>
